<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>

<style>
  .completed{ text-decoration: line-through; }
</style>

<body>

    <div id="app">
        <ul>
          <li v-for="task in tasks"
              :class="{ 'completed': task.completed }"
              @click="task.completed = !task.completed"
          >
            {{ task.body }}
          </li>
        </ul>
    </div>

    <script src="https://unpkg.com/vue@2.0.5/dist/vue.js"></script>
    <script src="main.js"></script>

</body>

</html>
