<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>

<body>

    <div id="app">
        <input v-model="points" />

        <h1>Skill: {{ skill }}</h1>
    </div>




    <script src="https://unpkg.com/vue@2.0.5/dist/vue.js"></script>

    <script>
        new Vue({
            el: '#app',

            data: {
                points: 100,
            },

            computed: {
                skill: function() {
                    if(this.points <= 100){
                      return 'Beginner';
                    }

                    return 'Adavanced';
                }
            }
        });
    </script>

</body>

</html>
