<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>

<body>

    <div id="app">
        <h1>{{ message }}</h1>

        <input v-model="message">

        <pre>
          {{ $data | json }}
        </pre>
    </div>



    <script src="https://unpkg.com/vue@2.0.5/dist/vue.js"></script>

    <script>
        new Vue({
            el: '#app',
            data: {
                message: 'Hello World'
            }
        });
    </script>

</body>

</html>
