<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>

<style>
  .completed{ text-decoration: line-through; }
</style>

<body>

    <div id="app">
      <tasks :list="tasks"></tasks>
    </div>

    <template id="tasks-template">
      <ul>
        <li v-for="task in list"
            :class="{ 'completed': task.completed }"
            @click="task.completed = !task.completed"
        >
          {{ task.body }}
        </li>
      </ul>
    </template>


    <script src="https://unpkg.com/vue@2.0.5/dist/vue.js"></script>
    <script src="main-8.js"></script>

</body>

</html>
