<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>

<body>


    <div id="app">
        {{ $data | json }}

        <div v-for="plan in plans">
            <plan :plan="plan" :active.sync="active"></plan>
        </div>

    </div>


    <template id="plan-template">
      <div>
        <span>{{ plan.name }}</span>
        <span>{{ plan.price }}/month</span>
        <button @click="setActivePlan" v-show="plan.name !== active.name">
          {{ isUpgrade ? 'Upgrade' : 'Downgrade' }}
        </button>

        <span v-else>
          Selcted
        </span>
      </div>
    </template>

    <script src="https://unpkg.com/vue@1.0.1/dist/vue.js"></script>

    <script>
        new Vue({
            el: '#app',

            data: {
                plans: [{
                    name: 'Enterprise',
                    price: 100
                }, {
                    name: 'Pro',
                    price: 50
                }, {
                    name: 'Personal',
                    price: 10
                }, {
                    name: 'Free',
                    price: 0
                }, ],

                active: {},
            },

            components: {
                plan: {
                    props: ['plan', 'active'],

                    template: '#plan-template',

                    computed: {
                        isUpgrade: function() {
                            return this.plan.price > this.active.price;
                        },
                    },

                    methods: {
                        setActivePlan: function() {
                            this.active = this.plan;
                        }
                    }
                }
            }
        });
    </script>

</body>

</html>
