<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>

<body>

    <div id="app">

          <button type="submit" @click="updateCount">
          Increment count: {{ count }}
          </button>



    </div>



    <script src="https://unpkg.com/vue@2.0.5/dist/vue.js"></script>

    <script>
      new Vue({
        el: '#app',
        data:{
          count: 0
        },
        methods:{
          updateCount:function(){
            this.count += 1;
          }
        }
      });
    </script>

</body>

</html>
