<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>

<body>

    <div id="app">

        <counter subject="Likes"></counter>
        <counter subject="Dislikes"></counter>

    </div>

    <template id="counter-template">
      <div>
      <h1>{{ subject }}</h1>
      <button @click="count += 1">{{ count }}</button>
    </div>
    </template>


    <script src="https://unpkg.com/vue@2.0.5/dist/vue.js"></script>

    <script>
        Vue.component('counter', {
            template: '#counter-template',

            props: ['subject'],

            data: function () {
              return { count: 0 };
            }
        });

        new Vue({
            el: '#app',
        });
    </script>

</body>

</html>
