<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>

<style>
    .completed {
        text-decoration: line-through;
    }
</style>

<body>

    <div id="app">
        <tasks :list="tasks"></tasks>
    </div>

    <template id="tasks-template">
      <div>
        <h1>My Tasks
          <span v-show="remaining">({{ remaining }})</span></h1>
      <ul v-if="list.length">
        <li v-for="task in list"
            :class="{ 'completed': task.completed }"
            @click="task.completed = !task.completed"
        >
          {{ task.body }}

          <strong @click="deleteTask(task)">x</strong>
        </li>
      </ul>

      <p v-else>
        No tasks yet!
      </p>

      <button @click="clearCompleted">Clear Completed</button>
        </div>
    </template>


    <script src="https://unpkg.com/vue@2.0.5/dist/vue.js"></script>
    <script src="main-9.js"></script>

</body>

</html>
