<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>

<body>

<div id="app">

    <pre>{{ $data | jsonIt }}</pre>

    <ul>
        <li v-for="person in people | orderBy 'name' -1 | role 'student' | limitBy 2 ">{{ person.name }}</li>
    </ul>

</div>

<script src="https://unpkg.com/vue@1.0.5/dist/vue.js"></script>
<script src="main-14.js"></script>

</body>

</html>
