<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>

<body>

    <div id="app">
        <form>
          <span class="error" v-show="!message">
            You must enter a message
          </span>

          <textarea v-model="message"></textarea>

          <button type="submit" v-show="message">Send message</button>
        </form>

        <pre>
          {{ $data | json }}
        </pre>
    </div>



    <script src="https://unpkg.com/vue@2.0.5/dist/vue.js"></script>

    <script>
        new Vue({
            el: '#app',
            data: {
                message: ''
            }
        });
    </script>

</body>

</html>
